@import url("https://fonts.googleapis.com/css?family=Inter");

::selection {
    background-color: transparent;
}

.window-topbar {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 35px;
    background-color: #313638;
    color: white;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.topbarBtn {
    -webkit-app-region: no-drag;
    cursor: pointer !important;
    background-color: transparent;
    border: none;
    color: gray;
    font-family: 'Inter', sans-serif;
    outline: 0;
    font-size: 14px;
    z-index: 2;
    font-weight: lighter;
    transition: .35s;
    height: 99%;
}

#fileTab {
    position: fixed;
    left: 200px;
    top: 35px;
    width: calc(100% - 200px);
    height: calc(75px -  35px);
    background-color: #313638;
}

#codeContainer {
    position: fixed;
    top: 75px;
    left: 200px;
    z-index: 1;
    width: calc(100% - 200px);
    height: calc(100% - 75px);
    outline: 0;
    border-top: 1px solid #313638;
}

#closeXWindow {
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    right: 0%;
    cursor: pointer;
    width: 40px;
    color: gray;
}

#maximizeWindow {
    position: absolute;
    transform: translate(0%, -50%);
    top: 45%;
    right: 40px;
    cursor: pointer;
    width: 40px;
    color: gray;
    height: 105%;
}

#minimizeWindow {
    position: absolute;
    transform: translate(0%, -50%);
    top: 35%;
    right: calc(40px * 2);
    cursor: pointer;
    width: 40px;
    color: gray;
    height: 115%;
}

#closeXWindow:hover {
    background-color: red;
    color: white;
}

#maximizeWindow:hover, #minimizeWindow:hover {
    background-color: rgb(211, 211, 211, 0.4);
}

#fileExplorer {
    position: fixed;
    left: 0%;
    top: 35px;
    width: calc(200px - 5px);
    height: calc(100% - 35px);
    border-right: 5px solid #E4B363;
}

.prompt {
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    left: 50%;
    height: 30%;
    text-align: left;
    padding-left: 15px;
    background-color: #313638;
    font-family: 'Inter', sans-serif;
    display: none;
    border-radius: 10px / 5px;
}

#promptAccept {
    background-color: rgb(58, 162, 231);
    color: white;
    font-family: 'Inter', sans-serif;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 1.5%;
    bottom: 1.5%;
    width: 47%;
    height: 35px;
    font-size: 14px;
    border-radius: 2.5px;
}

#promptCancel {
    background-color: #585f61;
    color: white;
    font-family: 'Inter', sans-serif;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1.5%;
    bottom: 1.5%;
    width: 47%;
    height: 35px;
    font-size: 14px;
    border-radius: 2.5px;
}

#promptTitle {
    color: white;
}

#promptDesc {
    color: lightgray;
}

#shade {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 5;
    display: none;
}