@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
    /* Random classnames reference */
    --c1: tN24JUN6SHzetFRvTMWP;
    --c3: rBOmEiMAdIQyxlVHOYb5;
    --c4: loh0c3pYHdVqBh7LhGOu;
    --c5: XrBw9cwK6uedteypkErQ;
    --c6: Bcgqpx8WwL8yZ4jXXwqn;
    --c7: mouOeUgWHVL2Vqd2ddVa;
    --c8: a2VTYReAd0TsCgGWBO6e;
    --c9: dezk8NpODAvKGVSCBcTb;
    --c10: NayjnLcLTV1HXGwmALwy;
    --c11: o6abliETkFiLZJKqziLM;
}

#code-editor {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    outline: 0;
    background-color: black;
    color: white;
    font-size: 14px;
    border: none;
    padding: 15px;
    font-family: 'Roboto', serif;
}


.hidden {
    display: none;
}

#code-editor-container {
    display: flex;
    width: 100%;
    height: 100%;
}

#line-numbers {
    width: 30px;
    padding: 15px;
    font-size: 14px;
    font-family: 'Roboto', serif;
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    left: 0%;
    top: 0%;
    height: 98%;
    overflow-x: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#line-numbers div {
    position: absolute;
    left: 40%;
    width: 50%;
    transform: translate(-50%, 0%);
    top: 0%;
    height: 100%;
    text-align: center;
    padding-top: 15px;
}

#code-editor {
    flex-grow: 1;
    height: 100%;
    outline: 0;
    background-color: black;
    color: white;
    font-size: 14px;
    border: none;
    padding: 15px;
    font-family: 'Roboto', serif;
    position: fixed;
    left: 30px;
    height: 98%;
    width: calc(100% - 30px);
}



.tN24JUN6SHzetFRvTMWP {
    color: purple;
}

body, #code-editor, #line-numbers {
    overflow-y: scroll;
}